<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Регистрация пользователя</title>
  </head>
  <body class="bg-main-color">
    <main class="register-account">
      <div class="container">
        <form class="mt-5" action="/api/verifyemail" method="POST">
          <h1 class="text-center m-3 text-white">Регистрация пользователя</h1>

          <div class="mb-3 w-75 mx-auto">
            <label for="exampleInputName" class="form-label text-white">Имя</label>
            <input type="text" class="form-control" id="exampleInputName" name="name" />
          </div>

          <div class="mb-3 w-75 mx-auto">
            <label for="exampleInputEmail" class="form-label text-white"
              >Адрес электронной почты</label
            >
            <input type="email" class="form-control" id="exampleInputEmail" name="email" />
          </div>

          <div class="mb-5 w-75 mx-auto">
            <label for="exampleInputPassword" class="form-label text-white">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password" />
          </div>

          <button
            type="submit"
            class="btn btn-lg btn-light d-block text-main-color rounded-3 mx-auto"
          >
            Далее
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
