<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Команды</title>
  </head>
  <body>
    <header class="container-fluid bg-main-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">Team Project Workshop</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekers/">Сокомандники</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link text-white dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Профиль
                </a>
                <ul class="dropdown-menu border-main-color">
                  <li>
                    <a class="dropdown-item text-main-color" href="/user">Профиль пользователя</a>
                  </li>
                  <li><hr class="dropdown-divider text-main-color" /></li>
                  <li>
                    <a class="dropdown-item text-main-color" href="/team">Профиль команды</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link text-white dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Авторизация
                </a>
                <ul class="dropdown-menu border-main-color">
                  <li><a class="dropdown-item text-main-color" href="/login/">Вход</a></li>
                  <li><hr class="dropdown-divider text-main-color" /></li>
                  <li>
                    <a class="dropdown-item text-main-color" href="/registeraccount/"
                      >Регистрация</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-fluid mb-5">
      <div class="row text-center py-5">
        <h1 class="text-main-color">Список команд</h1>
      </div>
      <div class="row justify-content-center align-items-center mb-5">
        <div class="col-auto mb-4">
          <div class="card" style="width: 18rem">
            <img src="/static/no-image.jpg" class="card-img-top" alt="Аватарка команды" />
            <div class="card-body text-main-color border-main-color">
              <h5 class="card-title">
                <a class="text-decoration-none text-reset" href="/teams/{{ ad.team.name }}"
                  >{{ ad.team.name }}Название команды</a
                >
              </h5>
              <p class="card-text">Небольшое описание команды про себя</p>
            </div>
            <ul class="list-group list-group-flush border-main-color">
              <li class="list-group-item text-main-color">{{ ad.project }}Направление</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Роль</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Скилы</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-4">
          <div class="card" style="width: 18rem">
            <img src="/static/no-image.jpg" class="card-img-top" alt="Аватарка команды" />
            <div class="card-body text-main-color border-main-color">
              <h5 class="card-title">
                <a class="text-decoration-none text-reset" href="/teams/{{ ad.team.name }}"
                  >{{ ad.team.name }}Название команды</a
                >
              </h5>
              <p class="card-text">Небольшое описание команды про себя</p>
            </div>
            <ul class="list-group list-group-flush border-main-color">
              <li class="list-group-item text-main-color">{{ ad.project }}Направление</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Роль</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Скилы</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-4">
          <div class="card" style="width: 18rem">
            <img src="/static/no-image.jpg" class="card-img-top" alt="Аватарка команды" />
            <div class="card-body text-main-color border-main-color">
              <h5 class="card-title">
                <a class="text-decoration-none text-reset" href="/teams/{{ ad.team.name }}"
                  >{{ ad.team.name }}Название команды</a
                >
              </h5>
              <p class="card-text">Небольшое описание команды про себя</p>
            </div>
            <ul class="list-group list-group-flush border-main-color">
              <li class="list-group-item text-main-color">{{ ad.project }}Направление</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Роль</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Скилы</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-4">
          <div class="card" style="width: 18rem">
            <img src="/static/no-image.jpg" class="card-img-top" alt="Аватарка команды" />
            <div class="card-body text-main-color border-main-color">
              <h5 class="card-title text-main-color">
                <a class="text-decoration-none text-reset" href="/teams/{{ ad.team.name }}"
                  >{{ ad.team.name }}Название команды</a
                >
              </h5>
              <p class="card-text">Небольшое описание команды про себя</p>
            </div>
            <ul class="list-group list-group-flush border-main-color">
              <li class="list-group-item text-main-color">{{ ad.project }}Направление</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Роль</li>
              <li class="list-group-item text-main-color">{{ ad.project }}Скилы</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center p-2 mb-2">
        <div class="col">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link bg-main-color text-white btn-main-color">Предыдущая</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-main-color text-white btn-main-color" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-main-color text-white btn-main-color" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-main-color text-white btn-main-color" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-main-color text-white btn-main-color" href="#">Следующая</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer
      class="container-fluid bg-main-color d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 sticky-bottom"
    >
      <p class="col-md-4 mb-0 text-white">&copy; Website production</p>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-white">Главная</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Команды</a>
        </li>
        <li class="nav-item">
          <a href="/seekers/" class="nav-link px-2 text-white">Сокомандники</a>
        </li>
      </ul>
    </footer>

    {% for ad in ads %}
    <a href="/teams/{{ ad.team.name }}">{{ ad.team.name }}</a>
    Интересуемое направление:
    <h3>{{ ad.project }}</h3>
    Интересуемая роль:
    <h3>{{ ad.role }}</h3>
    Скиллы:
    <h3>{{ ad.skills }}</h3>
    {% endfor %}

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
