<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Команды</title>
  </head>
  <body>
    <header class="container-fluid bg-main-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">Team Project Workshop</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekteam/">Команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekers/">Сокомандники</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-fluid mb-5">
      <div class="row text-center py-5">
        <h1 class="text-main-color">Список команд</h1>
      </div>
      <div class="row justify-content-center align-items-center mb-5">
        {% for ad in ads %}
        <div class="col-auto mb-4">
          <div class="card" style="width: 18rem">
            <img src="/static/no-image.jpg" class="card-img-top" alt="Аватарка команды" />
            <div class="card-body text-main-color border-main-color">
              <h5 class="card-title">
                <a class="text-decoration-none text-reset" href="/teams/{{ ad.team.name }}"
                  >Название команды: {{ ad.team.name }}</a
                >
              </h5>
            </div>
            <ul class="list-group list-group-flush border-main-color">
              <li class="list-group-item text-main-color">Направление: {{ ad.project }}</li>
              <li class="list-group-item text-main-color">Роль: {{ ad.role }}</li>
              <li class="list-group-item text-main-color">Скилы: {{ ad.skills }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
