<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Профиль команды</title>
  </head>
  <body>
    <header class="container-fluid bg-main-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">Team Project Workshop</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekteam/">Команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekers/">Сокомандники</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="team">
      <div class="container-fluid">
        <div class="row pt-5">
          <div class="card mb-3 mx-auto border-main-color" style="max-width: 70%">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="/static/no-image.jpg"
                  class="img-fluid card-img-top"
                  alt="Аватарка команды"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title text-main-color" style="font-size: 2rem">
                    Название команды {{ team.name }}
                  </h4>
                  <p class="card-text text-main-color" style="font-size: 1.4rem">
                    <span class="fw-semibold">Владелец:</span>
                    <a class="text-decoration-none text-reset" href="/users/{{ team.owner.name }}/"
                      >{{ team.owner.name }}</a
                    >
                    <br />
                    <span class="fw-semibold">Участники:</span>
                  </p>
                  {% for member in members %} {% if team.owner.name != member %}
                  <ul class="list-unstyled">
                    <li>
                      <a class="text-decoration-none text-reset" href="/users/{{ member }}/"
                        >{{ member }}</a
                      >
                    </li>
                  </ul>
                  {% endif %} {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <form class="mt-5" action="/api/changeteaminfo" method="POST">
            {% if owner %}
            <h3 class="text-center m-5 text-main-color fw-bold" style="font-size: 2rem">
              Редактирование профиля команды
            </h3>
            {% endif %}

            <div class="mb-5 w-75 mx-auto">
              <label
                for="exampleInpuInfo"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Информация о команде</label
              >
              {% if owner %}<input
                type="text"
                class="form-control p-3"
                id="exampleInpuInfo"
                value="{{ team.info }}"
                name="info"
              />
              {% else %}
              <p class="text-main-color">{{ team.info }}</p>
              {% endif %}
            </div>

            {% if owner %}
            <button
              type="submit"
              class="btn btn-lg btn-main-color text-white d-block tex mx-auto rounded-3 mb-4"
            >
              Сохранить
            </button>
            {% endif %}
          </form>

          <form action="/api/createteamad" method="post">
            {% if owner %}
            <h3 class="text-center m-5 text-main-color" style="font-size: 2rem">
              Создание анкеты команды
            </h3>
            {% else %}
            <h3 class="text-center m-5 text-main-color fw-bold" style="font-size: 2rem">
              Анкета команды
            </h3>
            {% endif %}
            <div class="mb-5 w-75 mx-auto">
              <label
                for="exampleInputDirection"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >В каком направлении команда хочет развиваться</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control p-3"
                id="exampleInputDirection"
                value="{% if ad %}{{ ad.project }}{% endif %}"
                name="project"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.project }}{% endif %}</p>
              {% endif %}
            </div>

            <div class="mb-5 w-75 mx-auto">
              <label
                for="exampleInputRole"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Какие роли ищет команда</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control p-3"
                id="exampleInputRole"
                name="role"
                value="{% if ad %}{{ ad.role }}{% endif %}"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.role }}{% endif %}</p>
              {% endif %}
            </div>

            <div class="mb-5 w-75 mx-auto">
              <label
                for="exampleInputSkills"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Что должны уметь будущие участники</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control p-3"
                id="exampleInputSkills"
                value="{% if ad %}{{ ad.skills }}{% endif %}"
                name="skills"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.skills }}{% endif %}</p>
              {% endif %}
            </div>
            {% if owner %}
            <input
              type="submit"
              class="btn btn-lg btn-main-color text-white d-block tex mx-auto rounded-3 mb-4"
              value="Cохранить"
            />
            {% endif %}
          </form>

          {% if owner %}
          <form action="/api/deleteteamad" method="post">
            <h3 class="text-center m-5 text-main-color" style="font-size: 2rem">Удалить анкету</h3>
            <input
              class="btn btn-lg btn-main-color text-white d-block mx-auto rounded-3 mb-5"
              type="submit"
              value="Удалить"
            />
          </form>

          {% endif %} {% if canRequest %}
          <form class="mb-5" action="/api/request/{{ team.owner.name }}" method="POST">
            <button
              type="submit"
              class="btn btn-success d-block text-white rounded-3 d-block mx-auto"
            >
              Отправить заявку
            </button>
          </form>
          {% endif %} {% if isMember %}
          <form class="mb-5" action="/api/leave" method="POST">
            <button type="submit" class="btn btn-danger d-block text-white rounded-3 mx-auto">
              Выйти из команды
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </main>

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
