<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Профиль пользователя</title>
  </head>
  <body>
    <header class="container-fluid bg-main-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">Team Project Workshop</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekteam/">Команды</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/seekers/">Сокомандники</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="user">
      <div class="container-fluid">
        <div class="row pt-5">
          <div class="card mb-3 mx-auto border-main-color" style="max-width: 70%">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/no-image.jpg" class="img-fluid" alt="Аватарка команды" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title text-main-color" style="font-size: 2rem">
                    Пользователь: {{ user.name }}
                  </h4>
                  {% if canInvite %}
                  <form class="d-inline" action="/api/invite/{{ user.name }}" method="POST">
                    <button type="submit" class="btn btn-sm btn-success text-white rounded-3">
                      Пригласить
                    </button>
                  </form>
                  {% elif canKick %}
                  <form class="d-inline" action="/api/kick/{{ user.name }}" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger text-white rounded-3">
                      Исключить
                    </button>
                  </form>
                  {% endif %}
                  <p class="card-text text-main-color" style="font-size: 1.4rem">
                    <span class="fw-semibold">Команда:</span> {% if team %}<a
                      class="text-decoration-none text-reset"
                      href="/teams/{{ team.name }}/"
                      >{{ team.name }}{% else %}Отсутствует{% endif %}</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <form class="mt-5" action="/api/changeuserinfo" method="POST">
            {% if owner %}
            <h3 class="text-center m-5 text-main-color fw-bold" style="font-size: 2rem">
              Редактирование профиля пользователя
            </h3>
            {% endif %}

            <div class="mb-3 w-75 mx-auto">
              <label
                for="exampleInpuInfo"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Информация о пользователе</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control"
                id="exampleInpuInfo"
                value="{{ user.info }}"
                name="info"
              />
              {% else %}
              <p class="text-main-color">{{ user.info }}</p>
              {% endif %}
            </div>

            <div class="mb-3 w-75 mx-auto">
              <label
                for="exampleInpuContacts"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Контакты</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control"
                id="exampleInpuContacts"
                value="{{ user.contacts }}"
                name="contacts"
              />
              {% else %}
              <p class="text-main-color">{{ user.contacts }}</p>
              {% endif %}
            </div>

            {% if owner %}
            <button
              type="submit"
              class="btn btn-lg btn-main-color text-white d-block tex mx-auto rounded-3 mb-2"
            >
              Сохранить
            </button>
            {% endif %}
          </form>

          <form class="mt-5 mb-3" action="/api/createuserad" method="POST">
            {% if owner %}
            <h3 class="text-center m-5 text-main-color fw-bold" style="font-size: 2rem">
              Создание анкеты пользователя
            </h3>
            {% else %}
            <h3 class="text-center m-5 text-main-color fw-bold" style="font-size: 2rem">
              Анкета пользователя
            </h3>
            {% endif %}
            <div class="mb-3 w-75 mx-auto">
              <label
                for="exampleInputDirection"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >В каком направлении хотите развиваться</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control"
                id="exampleInputDirection"
                value="{% if ad %}{{ ad.project }}{% endif %}"
                name="project"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.project }}{% endif %}</p>
              {% endif %}
            </div>

            <div class="mb-3 w-75 mx-auto">
              <label
                for="exampleInputRole"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Кем хотите быть</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control"
                id="exampleInputRole"
                name="role"
                value="{% if ad %}{{ ad.role }}{% endif %}"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.role }}{% endif %}</p>
              {% endif %}
            </div>

            <div class="mb-3 w-75 mx-auto">
              <label
                for="exampleInputSkills"
                class="form-label text-main-color fw-bold"
                style="font-size: 1.8rem"
                >Ваши навыки</label
              >
              {% if owner %}
              <input
                type="text"
                class="form-control"
                id="exampleInputSkills"
                value="{% if ad %}{{ ad.skills }}{% endif %}"
                name="skills"
              />
              {% else %}
              <p class="text-main-color">{% if ad %}{{ ad.skills }}{% endif %}</p>
              {% endif %}
            </div>

            {% if owner %}
            <button
              type="submit"
              class="btn btn-lg btn-main-color text-white d-block tex mx-auto rounded-3 mb-2"
            >
              Сохранить
            </button>
            {% endif %}
          </form>

          {% if owner %}
          <form action="/api/deleteuserad" method="post">
            <h3 class="text-center m-5 text-main-color" style="font-size: 2rem">Удалить анкету</h3>
            <input
              class="btn btn-lg btn-main-color text-white d-block tex mx-auto rounded-3 mb-2"
              type="submit"
              value="Удалить"
            />
          </form>
          {% endif %}
        </div>

        {% if owner %}
        <!-- уведомления -->
        <div class="row justify-content-center mb-4">
          <div class="col-12 mb-3">
            <h3 class="text-center text-main-color">Уведомления</h3>
          </div>

          <div class="col-10 mb-4 border-main-color p-3 mx-auto">
            {% for invite in invites %}
            <p class="text-main-color">
              <a class="text-decoration-none text-reset" href="/users/{{ invite.sender.name }}/"
                >{{ invite.sender.name }}</a
              >
              Пригласил вас в команду:<a
                class="text-decoration-none text-reset"
                href="/teams/{{ invite.team.name }}"
                >{{ invite.team.name }}</a
              >
            </p>

            <form class="d-inline" action="/api/request/{{ invite.sender.name }}" method="POST">
              <button type="submit" class="btn btn-success text-white rounded-3">Принять</button>
            </form>
            <form
              class="d-inline"
              action="/api/declineinvite/{{ invite.sender.name }}"
              method="POST"
            >
              <button type="submit" class="btn btn-danger text-white rounded-3">Отклонить</button>
            </form>
            {% endfor %}
          </div>

          <div class="col-10 border-main-color p-3 mx-auto">
            {% for request in requests %}
            <p class="text-main-color">
              <a class="text-decoration-none text-reset" href="/users/{{ request.sender.name }}/"
                >{{ request.sender.name }}</a
              >
              Хочет в вашу команду
            </p>

            <form class="d-inline" action="/api/invite/{{ request.sender.name }}" method="POST">
              <button type="submit" class="btn btn-success text-white rounded-3">Принять</button>
            </form>
            <form
              class="d-inline"
              action="/api/declinerequest/{{ request.sender.name }}"
              method="POST"
            >
              <button type="submit" class="btn btn-danger text-white rounded-3">Отклонить</button>
            </form>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    <script type="module" src="/static/js/main.js"></script>
  </body>
</html>
